{%extends 'baseLogin.html' %}
{% block contenido %}

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>BLOG</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    <link rel="stylesheet" href="{% static 'css/loguearse.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	

</head>  
<body>
    <form method="POST" class="formulario">{%csrf_token%}
        {{form.errors}}
        
        <h1>Login</h1>
        <div class="contenedor">
     
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" name="username" placeholder="Usuario">
            </div>
            
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" name="password" placeholder="Contraseña">
            </div>

            <input type="submit" name="" value="Ingresar" class="button">
            <p>¿Olvidaste tu contraseña? <a class="link" href="{%url 'usuarios:password_reset'%}">Recuperar Contraseña</a></p>
            <p>¿No tienes una cuenta? <a class="link" href="{%url 'usuarios:registrarse'%}">Registrate </a></p>

        </div>

    </form>
</body>
</html>



{%endblock contenido%}