{%extends 'baseLogin.html' %}
{% block contenido %}

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>BLOG</title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="{% static 'css/loguearse.css' %}">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	
</head>  
<body>

 <form method="post" class="formulario">{%csrf_token%}
    {{form.errors}}

    <h1>Registrate</h1>

    <div class="contenedor">

        <div class="input-contenedor">

            <i class="fas fa-user icon"></i>
            <input type="text" name="first_name" placeholder="Nombre/s">
            
        </div>
        <div class="input-contenedor">

            <i class="fas fa-user icon"></i>
            <input type="text" name="last_name" placeholder="Apellido/s">
            
        </div>
     
        <div class="input-contenedor">

            <i class="fas fa-user icon"></i>
            <input type="text" name="username" placeholder="Nombre de Usuario">
         
        </div>
         
        <div class="input-contenedor">

            <i class="fas fa-envelope icon"></i>
            <input type="text" name="Email" placeholder="Correo Electronico">
         
        </div>
         
        <div class="input-contenedor">

            <i class="fas fa-key icon"></i>
            <input type="password" name="password1" placeholder="Contraseña" class="password-input">

        </div>
        
        <div class="input-contenedor">

            <i class="fas fa-key icon"></i>
            <input type="password" name="password2" placeholder="Reingrese su contraseña" class="password-input">

        </div>
         
        </div>

        <input method="get" type="submit" value="Registrarme" class="button">
        <p>Al registrarte, aceptas nuestras <a class="link" href="#">Condiciones de uso y Política de privacidad. </a></p>
        <p>¿Ya tienes una cuenta?<a class="link" href="{%url 'usuarios:loguearse'%}"> Iniciar Sesion</a></p>

    </div>

</form>

</body>
</html>
{% endblock contenido %}