{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<head>
    <link rel="stylesheet" href="{% static 'css/noticias/noticias.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<section id="noticias">
    <div class="container noticias-container">
        {% for noticia in noticias %}
            <div class="noticia">
                <h2>{{noticia.titulo}}</h2>
                <div class="imagen">
                    <img class="image" src="{{noticia.imagen.url}}">
                    <div class="fecha">{{noticia.autor}} | {{noticia.creado}}</div>
                </div>
                <div class="contenido">
                    <p>{{noticia.cuerpo|truncatewords:30}}</p>
                </div>
                <div class="acciones">
                    {% if user.is_authenticated %}
                    
                        {% if user.is_staff or user == noticia.autor or user.es_colaborador %}
                            <form action="{% url 'noticias:eliminarNoticia' noticia.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                            </form>
                            <form action="{% url 'noticias:modificarNoticia' noticia.pk %}" method="get">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-secondary">Editar</button>
                            </form>

                            
                        {% endif %}
                    {% endif %}

                    <form action="{% url 'noticias:mostrarNoticia' noticia.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary" >Ver más...</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</section>


{%endblock contenido%}