{%extends 'base.html'%}
{%load static %}
{%block contenido%}


<head>
    <link rel="stylesheet" href="{% static 'css/noticias/detalle.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<section id="destacado">
    <div class="container2">
        <div class="noticia noticia-destacada">
            <h2>{{noticia.titulo}} </h2>
            <div class="fecha"> 
                {{noticia.autor}} | {{noticia.creado}}
            </div>
            <div class="contenido">
                <div class="imagen-macro">
                    <img src="{{noticia.imagen.url}}" alt="Imagen Macro">
                    <div class="datos-autor">
                        <p>Objetivo relacionado: {{noticia.objetivo}} </p>
                    </div>
                </div>
                <div class="columna-texto">
                    <div class="columna-izquierda">
                        <h4>---</h4>
                        <p>{{noticia.cuerpo}}</p>
                    </div>
                </div>
            </div>
            <div class="acciones">
                <!-- Acá debería ir un if y si el usuario tiene permisos le salga lo de editar/eliminar -->
                <!-- <form action="" method="post">
                    <button type="submit" class="cargar">Cargar</button>
                </form> -->
                <form action="{% url 'noticias:listarNoticias'%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Volver</button>

                </form>

                {% if user.is_authenticated %}
                    {% if user.is_staff or user == noticia.autor %}
                        <form action="{% url 'noticias:eliminarNoticia' noticia.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <form action="{% url 'noticias:modificarNoticia' noticia.pk %}" method="get">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Editar</button>
                        </form>

                        
                    {% endif %}
                {% endif %}

                <form action="#" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Compartir</button>

                </form>

                


                
                
            </div>
        </div>
    </div>

<!-- Mostrar los comentarios -->
<div class="comentarios">
    <h3>Comentarios</h3>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">   
        <form method="POST" action="{% url 'noticias:agregarComentario' noticia.pk %}" >{% csrf_token %}
            <!-- Campo oculto para el identificador de la noticia -->
            <input type="hidden" name="pk" value="{{ noticia.pk }}">
            <div class="mb-1">
                <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px;">Usuario: {{user.username}}</label>
              </div>
              <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comentario"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-info">COMENTAR</button>
        </form>
    </div>

    {% for comentario in comentarios %}
    <div class="comentario">
        <p>{{ comentario.texto }}</p>
        <!-- Acá debería ir un if y si el usuario tiene permisos le salga lo de editar/eliminar -->
        <div class="acciones-comentario">
            <form action="{% url 'noticias:eliminarComentario' comentario.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="eliminar">Eliminar</button>
            </form>

        </div>
    </div>
    {% endfor %}
</div>

</section>



{%endblock contenido%}