{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<title>Reducir las desigualdades</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">


<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">


</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS10.png' %}" alt="Encabezado">

    <p>
        Reducir las desigualdades y garantizar que nadie se queda atrás forma parte integral de la consecución de los Objetivos de Desarrollo Sostenible.
    </p>

    <br>
    <p>
        La desigualdad dentro de los países y entre estos es un continuo motivo de preocupación. A pesar de la existencia de algunos indicios positivos hacia la reducción de la desigualdad en algunas dimensiones, como la reducción de la desigualdad de ingresos en algunos países y el estatus comercial preferente que beneficia a los países de bajos ingresos, la desigualdad aún continúa.
    </p>

    <br>
    <p>
        La COVID-19 ha intensificado las desigualdades existentes y ha afectado más que nadie a los pobres y las comunidades más vulnerables. Ha sacado a la luz las desigualdades económicas y las frágiles redes de seguridad social que hacen que las comunidades vulnerables tengan que sufrir las consecuencias de la crisis.  Al mismo tiempo, las desigualdades sociales, políticas y económicas han amplificado los efectos de la pandemia.
    </p>

    <br>
    <p>
        En el frente económico, la pandemia de la COVID-19 ha aumentado significativamente el desempleo mundial y ha recortado drásticamente los ingresos de los trabajadores.
    </p>

    <br>
    <p>
        La COVID-19 también pone en riesgo los escasos avances que se han conseguido en materia de igualdad de género y derechos de las mujeres durante las últimas décadas. Prácticamente en todos los ámbitos, desde la salud hasta la economía, desde la seguridad hasta la protección social, los efectos de la COVID-19 han agravado la situación de las mujeres y las niñas simplemente como consecuencia de su sexo.
    </p>

    <br>
    <p>
        Las desigualdades también están aumentando para las poblaciones vulnerables en países con sistemas sanitarios más deficientes y en países que se enfrentan a crisis humanitarias existentes. Los refugiados y los migrantes, así como los pueblos indígenas, los ancianos, las personas con discapacidad y los niños se encuentran especialmente en riesgo de ser excluidos. Además, el discurso de odio dirigido a los grupos vulnerables está en aumento.
    </p>

</div>

<div class="botones-container">

    <a class="atras" href="p9.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p11.html">Página siguiente</a>

</div>

{%endblock contenido%}