{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<title>Consumo y producción sostenible</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">


<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">


</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS12.png' %}" alt="Encabezado">

    <p>
        El consumo y la producción mundiales (fuerzas impulsoras de la economía mundial) dependen del uso del medio ambiente natural y de los recursos de una manera que continúa teniendo efectos destructivos sobre el planeta.
    </p>

    <br>
    <p>
        El progreso económico y social conseguido durante el último siglo ha estado acompañado de una degradación medioambiental que está poniendo en peligro los mismos sistemas de los que depende nuestro desarrollo futuro (y ciertamente, nuestra supervivencia).
    </p>

    <br>
    <p>
        Estos son algunos hechos y cifras:
    </p>

    <br>
    <p>
        1 - Cada año, se estima que un tercio de toda la comida producida (el equivalente a 1300 millones de toneladas con un valor cercano al billón de dólares) acaba pudriéndose en los cubos de basura de los consumidores y minoristas, o estropeándose debido a un transporte y unas prácticas de recolección deficientes.
    </p>

    <br>
    <p>
        2 - Si todo el mundo cambiase sus bombillas por unas energéticamente eficientes, se ahorrarían 120 000 millones de dólares estadounidenses al año.
    </p>

    <br>
    <p>
        3 - En caso de que la población mundial alcance los 9600 millones de personas en 2050, se podría necesitar el equivalente a casi tres planetas para proporcionar los recursos naturales necesarios para mantener los estilos de vida actuales.
    </p>
    

</div>

<div class="botones-container">

    <a class="atras" href="p11.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p13.html">Página siguiente</a>

</div>
{%endblock contenido%}