{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<title>Cambio Climático</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">

<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">


</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS13.png' %}" alt="Encabezado">

    <p>
        El 2019 fue el segundo año más caluroso de todos los tiempos y marcó el final de la década más calurosa (2010-2019) que se haya registrado jamás.
    </p>

    <br>
    <p>
        Los niveles de dióxido de carbono (CO2) y de otros gases de efecto invernadero en la atmósfera aumentaron hasta niveles récord en 2019.
    </p>

    <br>
    <p>
        El cambio climático está afectando a todos los países de todos los continentes. Está alterando las economías nacionales y afectando a distintas vidas. Los sistemas meteorológicos están cambiando, los niveles del mar están subiendo y los fenómenos meteorológicos son cada vez más extremos.
    </p>

    <br>
    <p>
        A pesar de que se estima que las emisiones de gases de efecto invernadero caigan alrededor de un 6 % en 2020 debido a las restricciones de movimiento y las recesiones económicas derivadas de la pandemia de la COVID-19, esta mejora es solo temporal. El cambio climático no se va a pausar. Una vez que la economía mundial comience a recuperarse de la pandemia, se espera que las emisiones vuelvan a niveles mayores.
    </p>

    <br>
    <p>
        Es necesario tomar medidas urgentes para abordar tanto la pandemia como la emergencia climática con el fin de salvar vidas y medios de subsistencia.
    </p>

    <br>
    <p>
        El Acuerdo de París, aprobado en 2015, aspira a reforzar la respuesta mundial a la amenaza del cambio climático manteniendo el aumento global de la temperatura durante este siglo muy por debajo de 2 grados Celsius con respecto a los niveles preindustriales. El acuerdo también aspira a reforzar la capacidad de los países para lidiar con los efectos del cambio climático mediante flujos financieros apropiados, un nuevo marco tecnológico y un marco de desarrollo de la capacidad mejorado.
    </p>

</div>

<div class="botones-container">

    <a class="atras" href="p12.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p14.html">Página siguiente</a>

</div>
{%endblock contenido%}