
{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<title>Ecosistemas</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">

<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">


</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS15.png' %}" alt="Encabezado">

    <p>
        El brote de la COVID-19 resalta la necesidad de abordar las amenazas a las que se enfrentan las especies silvestres y los ecosistemas.
    </p>

    <br>
    <p>
        En 2016, el Programa de las Naciones Unidas para el Medio Ambiente (PNUMA) alertó de que un aumento mundial de las epidemias zoonóticas era motivo de preocupación. En concreto, señaló que el 75 % de todas las enfermedades infecciosas nuevas en humanos son zoonóticas y que dichas enfermedades están estrechamente relacionadas con la salud de los ecosistemas.
    </p>

    <br>
    <p>
        «Con la COVID-19, el planeta ha enviado su mayor alerta hasta la fecha indicando que la humanidad debe cambiar», ha explicado la Directora Ejecutiva del PNUMA, Inger Andersen.
    </p>

    <br>
    <p>
        En Trabajar con el medio ambiente para proteger a las personas, el PNUMA detalla cómo «reconstruir mejor», mediante una base científica más sólida, políticas que contribuyan a un planeta más sano y más inversiones verdes.
    </p>

    <br>
    <p>
        La respuesta del PNUMA se ocupa de cuatro áreas:
    </p>

    <br>
    <p>
        1 - Ayudar a las naciones a gestionar los desechos médicos de la COVID-19.
    </p>
    
    <br>
    <p>
        2 - Producir un cambio transformativo para la naturaleza y las personas.
    </p>
    
    <br>
    <p>
        3 - Trabajar para garantizar que los paquetes de recuperación económica creen resiliencia para crisis futuras.
    </p>

    <br>
    <p>
        4 - Modernizar la gobernanza ambiental a nivel mundial.
    </p>

    <br>
    <p>
        Para prevenir, detener y revertir la degradación de los ecosistemas de todo el mundo, las Naciones Unidas han declarado la Década para la Restauración de los Ecosistemas (2021-2030). Esta respuesta coordinada a nivel mundial ante la pérdida y degradación de los hábitats se centrará en desarrollar la voluntad y la capacidad políticas para restaurar la relación de los seres humanos con la naturaleza. Asimismo, se trata de una respuesta directa al aviso de la ciencia, tal y como se expresa en el Informe especial sobre cambio climático y tierra del Grupo Intergubernamental de Expertos sobre el Cambio Climático, a las decisiones adoptadas por todos los Estados Miembros de las Naciones Unidas en las convenciones de Río sobre cambio climático y biodiversidad y a la Convención de las Naciones Unidas para la Lucha contra la Desertificación.
    </p>

    <br>
    <p>
        Se sigue trabajando en un nuevo y ambicioso Marco mundial de diversidad biológica posterior a 2020.
    </p>

    <br>
    <p>
        Mientras el mundo responde a la actual pandemia y se recupera de ella, necesitará un plan sólido destinado a la protección de la naturaleza, de manera que la naturaleza pueda proteger a la humanidad.
    </p>

</div>

<div class="botones-container">

    <a class="atras" href="p14.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p16.html">Página siguiente</a>

</div>

{%endblock contenido%}