{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<title>Paz y justicia</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">


<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">


</div>

<div class="header">


    <img src="{% static 'img/objetivos/secciones/ODS16.png' %}" alt="Encabezado">  

    <p>
        Los conflictos, la inseguridad, las instituciones débiles y el acceso limitado a la justicia continúan suponiendo una grave amenaza para el desarrollo sostenible.
    </p>

    <br>
    <p>
        El número de personas que huyen de las guerras, las persecuciones y los conflictos superó los 70 millones en 2018, la cifra más alta registrada por la Oficina del Alto Comisionado de las Naciones Unidas para los Refugiados (ACNUR) en casi 70 años.
    </p>

    <br>
    <p>
        En 2019, las Naciones Unidas registraron 357 asesinatos y 30 desapariciones forzadas de defensores de los derechos humanos, periodistas y sindicalistas en 47 países.
    </p>

    <br>
    <p>
        Por otro lado, los nacimientos de alrededor de uno de cada cuatro niños en todo el mundo con menos de 5 años nunca se registran de manera oficial, lo que les priva de una prueba de identidad legal, que es crucial para la protección de sus derechos y para el acceso a la justicia y a los servicios sociales.
    </p>

</div>

<div class="botones-container">

    <a class="atras" href="p15.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p17.html">Página siguiente</a>

</div>


{%endblock contenido%}