{%extends 'base.html'%}
{%load static %}
{%block contenido%}
<title>Educación de calidad</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">



<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">

</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS4.png' %}" alt="Encabezado">

    <p>La educación permite la movilidad socioeconómica ascendente y es clave para salir de la pobreza. Durante la última década, se consiguieron grandes avances a la hora de ampliar el acceso a la educación y las tasas de matriculación en las escuelas en todos los niveles, especialmente para las niñas. No obstante, alrededor de 260 millones de niños aún estaban fuera de la escuela en 2018; cerca de una quinta parte de la población mundial de ese grupo de edad. Además, más de la mitad de todos los niños y adolescentes de todo el mundo no están alcanzando los estándares mínimos de competencia en lectura y matemáticas.</p>

    <br>
    <p>En 2020, a medida que la pandemia de la COVID-19 se propagaba por todo el planeta, la mayor parte de los países anunciaron el cierre temporal de las escuelas, lo que afectó a más del 91 % de los estudiantes en todo el mundo. En abril de 2020, cerca de 1600 millones de niños y jóvenes estaban fuera de la escuela. Igualmente, cerca de 369 millones de niños que dependen de los comedores escolares tuvieron que buscar otras fuentes de nutrición diaria.</p>

    <br>
    <p>Nunca antes habían estado tantos niños fuera de la escuela al mismo tiempo, lo que altera su aprendizaje y cambia drásticamente sus vidas, especialmente las de los niños más vulnerables y marginados. La pandemia mundial tiene graves consecuencias que pueden poner en peligro los avances que tanto costaron conseguir a la hora de mejorar la educación a nivel mundial.</p>

</div>

<div class="botones-container">

    <a class="atras" href="p3.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p5.html">Página siguiente</a>

</div>

{%endblock contenido%}