{%extends 'base.html'%}
{%load static %}
{%block contenido%}


<title>Igualdad de Género</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">

<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">

</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS5.png' %}" alt="Encabezado">

    <p>
        La igualdad de género no solo es un derecho humano fundamental, sino que es uno de los fundamentos esenciales para construir un mundo pacífico, próspero y sostenible.
    </p>

    <br>
    <p>
        Se han conseguido algunos avances durante las últimas décadas: más niñas están escolarizadas, y se obliga a menos niñas al matrimonio precoz; hay más mujeres con cargos en parlamentos y en posiciones de liderazgo, y las leyes se están reformando para fomentar la igualdad de género.
    </p>

    <br>
    <p>
        A pesar de estos logros, todavía existen muchas dificultades: las leyes y las normas sociales discriminatorias continúan siendo generalizadas, las mujeres siguen estando infrarrepresentadas a todos los niveles de liderazgo político, y 1 de cada 5 mujeres y niñas de entre 15 y 49 años afirma haber sufrido violencia sexual o física a manos de una pareja íntima en un período de 12 meses.
    </p>

    <br>
    <p>
        Los efectos de la pandemia de la COVID-19 podrían revertir los escasos logros que se han alcanzado en materia de igualdad de género y derechos de las mujeres.  El brote de coronavirus agrava las desigualdades existentes para las mujeres y niñas a nivel mundial; desde la salud y la economía, hasta la seguridad y la protección social.
    </p>

    <br>
    <p>
        Las mujeres desempeñan un papel desproporcionado en la respuesta al virus, incluso como trabajadoras sanitarias en primera línea y como cuidadoras en el hogar. El trabajo de cuidados no remunerado de las mujeres ha aumentado de manera significativa como consecuencia del cierre de las escuelas y el aumento de las necesidades de los ancianos. Las mujeres también se ven más afectadas por los efectos económicos de la COVID-19, ya que trabajan, de manera desproporcionada, en mercados laborales inseguros. Cerca del 60 % de las mujeres trabaja en la economía informal, lo que las expone aún más a caer en la pobreza.
    </p>

    <br>
    <p>
        La pandemia también ha conducido a un fuerte aumento de la violencia contra las mujeres y las niñas. Con las medidas de confinamiento en vigor, muchas mujeres se encuentran atrapadas en casa con sus abusadores, con dificultades para acceder a servicios que están padeciendo recortes y restricciones. Los nuevos datos muestran que, desde el brote de la pandemia, la violencia contra las mujeres y las niñas (y, especialmente, la violencia doméstica) se ha intensificado.
    </p>

</div>

<div class="botones-container">

    <a class="atras" href="p4.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p6.html">Página siguiente</a>

</div>

{%endblock contenido%}