{%extends 'base.html'%}
{%load static %}
{%block contenido%}

<title>Agua y Saneamiento</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">


<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">


</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS6.png' %}" alt="Encabezado">

    <p>
        Si bien se ha conseguido progresar de manera sustancial a la hora de ampliar el acceso a agua potable y saneamiento, existen miles de millones de personas (principalmente en áreas rurales) que aún carecen de estos servicios básicos. En todo el mundo, una de cada tres personas no tiene acceso a agua potable salubre, dos de cada cinco personas no disponen de una instalación básica destinada a lavarse las manos con agua y jabón, y más de 673 millones de personas aún defecan al aire libre.
    </p>

    <br>
    <p>
        La pandemia de la COVID-19 ha puesto de manifiesto la importancia vital del saneamiento, la higiene y un acceso adecuado a agua limpia para prevenir y contener las enfermedades. La higiene de manos salva vidas. De acuerdo con la Organización Mundial de la Salud, el lavado de manos es una de las acciones más efectivas que se pueden llevar a cabo para reducir la propagación de patógenos y prevenir infecciones, incluido el virus de la COVID-19. Aun así, hay miles de millones de personas que carecen de acceso a agua salubre y saneamiento, y los fondos son insuficientes.
    </p>

</div>

<div class="botones-container">

    <a class="atras" href="p5.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p7.html">Página siguiente</a>

</div>

{%endblock contenido%}