{%extends 'base.html'%}
{%load static %}
{%block contenido%}
<title>Crecimiento económico</title>
<link rel="stylesheet" href="{% static 'css/objetivos.css' %}">


<div class="banner">

    <h1>ODS 2030</h1>

</div>

<div class="portada">

    <img src="{% static 'img/objetivos/secciones/banner-ods.png' %}" alt="portada">


</div>

<div class="header">

    <img src="{% static 'img/objetivos/secciones/ODS8.png' %}" alt="Encabezado">

    <p>
        Un crecimiento económico inclusivo y sostenido puede impulsar el progreso, crear empleos decentes para todos y mejorar los estándares de vida.
    </p>

    <br>
    <p>
        La COVID-19 ha alterado miles de millones de vidas y ha puesto en peligro la economía mundial. El Fondo Monetario Internacional (FMI) prevé una recesión mundial tan mala o peor que la de 2009. A medida que se intensifica la pérdida de empleo, la Organización Internacional del Trabajo estima que cerca de la mitad de todos los trabajadores a nivel mundial se encuentra en riesgo de perder sus medios de subsistencia.
    </p>

    <br>
    <p>
        Incluso antes del brote de la COVID-19, era probable que uno de cada cinco países (en donde habitan miles de millones de personas que viven en situación de pobreza) vieran sus ingresos per cápita estancarse o reducirse en 2020. A día de hoy, las perturbaciones económicas y financieras derivadas de la COVID-19 (como las alteraciones en la producción industrial, la caída de los precios de los productos básicos, la volatilidad del mercado financiero y el aumento de la inseguridad) están desbaratando el ya de por sí tibio crecimiento económico y empeorando los riesgos acentuados de otros factores.
    </p>

</div>

<div class="botones-container">

    <a class="atras" href="p7.html">Página anterior</a>

    <div class="spacer"></div>

    <a class="adelante" href="p9.html">Página siguiente</a>

</div>

{%endblock contenido%}
