.navbar {
  margin-bottom: 20px;
}
footer {
  margin-top: 50px;
  background-color: #f8f9fa;
  padding: 20px 0;
}
body {
  background-image: radial-gradient(circle 767px at 10.2% 22.1%, rgba(11, 218, 81, 1) 0%, rgba(0, 191, 255, 1) 90%);
}
.map-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 {
  color: #000000;
  font-weight: bold;
  text-align: left;
}

.form-group label {
  font-weight: bold;
}
.social-icons {
  text-align: center;
  margin-top: 20px;
}

.fa {
  padding:30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
}

.fa-facebook {
  background-color: #3b5998;
  color: white;
}

.fa-whatsapp {
  background-color: #25d366;
  color: white;
}

.fa-instagram {
  background-color: #e4405f;
  color: white;
}

.fa-github {
  background-color: #333;
  color: white;
}

.fa-external-link {
  background-color: #4CAF50; /* Green */
  color: white;
}

.col-md-6 {
  text-align:center;
}

.col-md-6 a {
  width: calc(110% / 6);
}