*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
h6{ font-size: 1.55em;}
p{ font-size: 1.25em;}


button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(0, 170, 228);
}

button:hover{
    background-color: rgb(128, 208, 235);
}

.container{
    max-width: 1400px;
    margin: auto;
} 

.color-17objetivos{ color: rgb(0, 170, 228);}

header.header-section {
    background-color: black;
    color: white;
}

.header-section a {
    color: white;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: white;
    font-size: 1.6em;
}

header nav {
    display: flex;
    text-align: center;
    padding-bottom: 20px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    color: rgb(128, 208, 235);
}


#los-link .carta-17objetivos{
    background-position: center center;
    background-size: cover;
    padding: 50px;
}

#los17{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#los17 a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 10px;
}

#los17 img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}



#somos-ods .container{
    text-align: center;
    padding: 50px 12px;
}



#enlaces-de-interes{
    background-color: rgb(0, 170, 228);
    color: white;
    text-align: center;

}

#enlaces-de-interes .programas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#enlaces-de-interes .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    max-width: 300px;
}

#enlaces-de-interes .container{
    padding: 100px 12px;
}

#enlacess-de-interes h2{
    margin-top: none;
    font-size: 3.5em;
}

#enlaces-de-interes p{
    display: none;

}

#programas{
    background-color: rgb(0, 170, 228);
    color: white;
    text-align: center;
}

#programas .container{
    padding: 150px 12px;
}

#programas p{
    display: none;
}

#programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}    
    
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/static/img/home/carta-noticias.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/static/img/home/carta-unete.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url("/static/img/home/carta-recursos.jpg");
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    max-width: 300px;
}
  



#hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/static/img/home/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 80vh;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

.pie{
    background-color: #f3faff;
}

#rectangulo .logo{
    width: 5%;
    height: 5%;
}

span{
    font-size: 10px;
}

.fb{
    background: rgb(59, 89, 152);
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.twt{
    background: rgb(0, 172, 238);
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.ig{
    background: rgb(221, 42, 123);
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.li{
    background: rgb(0, 119, 181);
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.yt{
    background: rgb(196, 48, 43);
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.rectangulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.title-container h6 {
    color: black;
    margin-bottom: 5px;
}

.title-container a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

.derechos{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background:  #f3faff;
}

footer {
    font-size: 14px;
}

.rectangulo {
    padding: 3px;
}

.section {
    padding: 5px;
}

.title-container h6 {
    font-size: 14px;
}

.title-container a {
    font-size: 14px;
    padding: 2px;
}

.derechos {
    padding: 1px;
}




@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #somos-ods h2{
        margin-top: 0px;
    }

    #somos-ods .img-container{
        background-image: url(/static/img/home/banner-ods.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 100%;
    }

    #los-link .los17 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
      
    #los-link a {
        width: 100%;
    }

    #enlaces-de-interes h2{
        font-size: 5em;
    }

    #enlaces-de-interes .programas{
        display: flex;
        justify-content: center;
    }

    #enlaces-de-interes h2 {
        font-size: 4em;
    }

    #enlaces-de-interes h3{
        margin-top: 0;
    }

    #enlaces-de-interes p{
        display: block;
        margin-bottom: 30px;
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("/static/img/home/carta-noticias.jpg");
    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("/static/img/home/carta-unete.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("/static/img/home/carta-recursos.jpg");
    }

    footer .container{
        justify-content: flex-end;
    }
}

