 /* Estilos personalizados para el formulario */
 form {
    margin-left: 20px; /* Margen izquierdo para el formulario */
  }

  .form-group {
    margin-bottom: 10px; /* Espacio entre elementos del formulario */
  }

  /* Estilos para el botón */
  .submit-btn {
    margin-top: 5px; /* Margen superior para separar el botón del input */
  }
  .form-control-black {
    border: 2px solid black; /* Contorno negro de 2px */
  }
