<!-- registration/password_reset_confirm.html -->

{% extends 'baseLogin.html' %}
{% load static %}

{% block contenido %}
<head>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/recuperarPassword.css' %}">
</head>
<div class="container-fluid">
  <div class="col-md-6">
    <h1 class="mb-4">Restablecer contraseña</h1>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.new_password1.id_for_label }}"><b>Nueva contraseña:</b></label>
          {{ form.new_password1 }}
        </div>
        <div class="form-group">
          <label for="{{ form.new_password2.id_for_label }}"><b>Confirmar nueva contraseña:</b></label>
          {{ form.new_password2 }}
        </div>
        {% if form.errors %}
          <p>Ha ocurrido un error al intentar recuperar la contraseña:</p>
          <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <li>{{ field }}: {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
        <button type="submit" class="btn btn-dark submit-btn">Guardar</button>
      </form>
    {% else %}
      <p>El enlace de recuperación de contraseña ha expirado o es inválido. Por favor, solicita un nuevo enlace de recuperación.</p>
    {%endif %} 
  </div>
</div>
{% endblock contenido %}
