<!-- registration/password_reset_confirm.html -->

{% extends 'baseLogin.html' %}
{% load static %}

{% block contenido %}
<head>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <style>
    /* Estilos personalizados para el formulario */
    form {
      margin-left: 20px; /* Margen izquierdo para el formulario */
    }

    .form-group {
      margin-bottom: 10px; /* Espacio entre elementos del formulario */
    }

    /* Estilos para el botón */
    .submit-btn {
      margin-top: 5px; /* Margen superior para separar el botón del input */
    }
  </style>
</head>
<div class="container-fluid">
  <div class="col-md-6">
    <h1 class="mb-4">Restablecer contraseña</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}"><b>Nueva contraseña:</b></label>
        {{ form.new_password1 }}
      </div>
      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}"><b>Confirmar nueva contraseña:</b></label>
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="btn btn-dark submit-btn">Guardar</button>
    </form>
  </div>
</div>
{% endblock contenido %}
