Asunto: Restablecimiento de contraseña para tu cuenta en ODS2030 Blog

Hola Estimado Usuario,

Recibimos una solicitud para restablecer la contraseña de tu cuenta en el blog de ODS2030. Si no has solicitado este cambio, puedes ignorar este correo electrónico.

Si deseas restablecer tu contraseña, por favor haz clic en el siguiente enlace o cópialo y pégalo en tu navegador:

{{ protocol}}://{{ domain }}{% url 'usuarios:password_reset_confirm' uidb64=uid token=token %}

Ten en cuenta que este enlace caducará en 24 horas por motivos de seguridad. Si no completas el proceso de restablecimiento dentro de ese período, deberás realizar una nueva solicitud.

Si tienes alguna pregunta o necesitas asistencia adicional, no dudes en contactar con nuestro equipo de soporte en ods2030blog@gmail.com.

¡Gracias por ser parte de la comunidad ODS2030!

Saludos cordiales,
El equipo de ODS2030 Blog