* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
}

.container.noticias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
}
.noticia .contenido p {
    text-align: justify;
}

.noticia {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: clamp(100px,50%,380px);
}

.noticia h2 {
    /* text-align: justify; */
    font-size: 30px;
    color: #0099cc;
    margin: 0;
}

.noticia .fecha {
    color: #666;
    font-size: 12px;
}

.noticia .contenido {
    margin-bottom: 10px;
}

.noticia .acciones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.noticia .acciones button {
    padding: 5px 10px;
    cursor: pointer;
}

.noticia .imagen {
    text-align: center;
}

.noticia .imagen img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}

.noticia .comentarios {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.compartir a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: #0099cc;
    padding: 5px 10px;
    border-radius: 5px;
}

.compartir a:hover {
    background-color: #1284a3;
}

header.header-section {
    background-color: #0099cc;
    color: white;
    padding: 10px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    text-align: center;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    color: #80d0eb;
}

.rectangulo {
    padding: 3px;
}

.section {
    padding: 5px;
}

.title-container h6 {
    font-size: 1em;
    font-weight: bold;
}

.title-container a {
    font-size: 1em;
    padding: 2px;
}

.derechos {
    padding: 1px;
}


body {
    background-image: url('media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


@media screen and (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    .noticia {
        width: 100%;
    }
}

.containerOpcNoticia {
    position: relative;
    left: 98%;
    top: 0;
    cursor: pointer;
    padding: 12px 12px;
}

.opcNoticia {
    transform: scale(var(--ggs,1));
    
    
}
.opcNoticia,
.opcNoticia::after,
.opcNoticia::before {
    left: 7px;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 100%
}
.opcNoticia::after,
.opcNoticia::before {
    left: 0px;
    content: "";
    position: absolute
}
.opcNoticia::after {
    
    top: 6px
}
.opcNoticia::before {

    top: -6px;
    right: 0
}

.containerOpcNoticia {
    position: relative;
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.menuOpciones {
    position: absolute;
    margin-top: 16px;
    right:92%;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.containerOpcNoticia.active > .opcNoticia + .menuOpciones {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.opcionesN {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 0rem;
}


.botonEliminar {
    background-color: #C45564; 
    border: none;
    color: white;
    padding: 15px 27px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}

.botonEditar {
    background-color: #45B398; 
    border: none;
    color: white;
    padding: 15px 35.5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}

.btn.btn-primary {
    position: absolute;
    right: 5px;
    left:280px;
    bottom: 0px;
    margin-bottom: 5px;
}


.botonAgregarNoticia {
    background-color: #45B398; 
    z-index: 50;
    border: none;
    color: white;
    padding: 15px 35.5px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    position: absolute;
    top: 5rem;
    right: 2rem;
    border-radius: 5px;
}