* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
}


.noticias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.noticia .contenido p {
    text-align: justify;
}

.noticia {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    min-width: 300px;
}

.noticia h2 {
    /* text-align: justify; */
    font-size: 30px;
    color: #0099cc;
    margin: 0;
}

.noticia .fecha {
    color: #666;
    font-size: 12px;
}

.noticia .contenido {
    margin-bottom: 10px;
}

.noticia .acciones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.noticia .acciones button {
    padding: 5px 10px;
    cursor: pointer;
}

.noticia .imagen {
    text-align: center;
}

.noticia .imagen img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}

.noticia .comentarios {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.compartir a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: #0099cc;
    padding: 5px 10px;
    border-radius: 5px;
}

.compartir a:hover {
    background-color: #1284a3;
}

header.header-section {
    background-color: #0099cc;
    color: white;
    padding: 10px;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    text-align: center;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover {
    color: #80d0eb;
}

.rectangulo {
    padding: 3px;
}

.section {
    padding: 5px;
}

.title-container h6 {
    font-size: 1em;
    font-weight: bold;
}

.title-container a {
    font-size: 1em;
    padding: 2px;
}

.derechos {
    padding: 1px;
}


body {
    background-image: url('media/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


@media screen and (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    .noticia {
        width: 100%;
    }
}