{% extends 'baseLogin.html' %}
{% load static %}

{% block contenido %}
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6">
    <div class="text-center">
      <h1>Contraseña cambiada con éxito</h1>
      <p>Será redirigido al Login</p>
      <p>Gracias por ser parte de ODS 2030 Blog!</p>
    </div>
  </div>
</div>

<!-- JavaScript para la redirección -->
<script type="text/javascript">
    // Función para redirigir al Home después de 3 segundos
    function redireccionarInicio() {
        window.location.href = "{% url 'usuarios:loguearse' %}"; // Reemplaza 'home' con el nombre correcto de la URL de inicio
    }

    // Llamamos a la función de redirección después de 3000 milisegundos (3 segundos)
    setTimeout(redireccionarInicio, 4000);
</script>
{% endblock contenido %}
