{% extends 'baseLogin.html' %}
{% load static %}
{% block contenido %}
<head>
  <link rel="stylesheet" href="{% static 'css/recuperarPassword.css' %}">
</head>

<div class="container-fluid">
  <div class="col-md-6">
    <h1 class="mb-4">Cambiar contraseña</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}"><b>Nueva contraseña:</b></label>
        {{ form.new_password1 }}
      </div>
      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}"><b>Confirmar nueva contraseña:</b></label>
        {{ form.new_password2 }}
      </div>
      {% if form.errors %}
        <p>Ha ocurrido un error al intentar cambiar la contraseña:</p>
        <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <li>{{ field }}: {{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
      
      <a href="{% url 'usuarios:modificarUsuario' user.pk %}" class="btn btn-outline-primary submit-btn">Volver</a>
      <button type="submit" class="btn btn-dark submit-btn">Guardar cambios</button>
    </form>
  </div>
</div>
{% endblock contenido %}
