{% load static %}

<!DOCTYPE html> 
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 2030</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/script.js' %}" defer></script>
    <!-- <style>
        .footer {
            /* Estilos para el footer */
            background-color: rgba(0, 0, 0, 0.15);
            text-align: center;

            position: absolute;
            width: 100%;
            bottom: 0;
        }
    </style> -->
</head>
<body>
    <!-- header base -->
    <header>

        <div class="container">

            <a  class="logo" href="{%url 'home'%}">ODS 2030</a>
            <nav>
                <!-- Navbar Search-->
                <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                        <button class="btn btn-dark" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </form> -->
                <a href="{%url 'noticias:listarNoticias'%}">Noticias</a>
                <a href="{%url 'contacto' %}">Contacto</a>
                {% if user.is_authenticated%}
                    <div class="menu2" data-dropdown>
                        <a class="usuarioBoton" data-dropdown-button><i class="fas fa-user fa-fw"></i>{{user.username}} <i class="fas fa-caret-down"></i></a>
                        <div class="menuUsuario opciones">
                                <div class="">
                                    {% if user.is_staff %}
                                        <a href="{%url 'usuarios:listarUsuarios'%}" class="usuarios">Usuarios</a>
                                    {%endif%}
                                    <a href="{%url 'usuarios:password_change'%}" class="configuracion">Cuenta</a>
                                    <a href="{%url 'usuarios:logout'%}" class="cerrarSesion">Cerrar sesión</a>
                                </div>
                        </div>
                    </div>
                    
                {% endif %}
                {% if not user.is_authenticated%}
                    <a href="{%url 'usuarios:loguearse'%}">Login</a>
                {% endif %}
            </nav> 

        </div>

   </header> 

   <div style="margin-bottom: 2rem;">
    {% block contenido %}

    {% endblock contenido%}
   </div>
 
  
  <!-- footer base -->
    <!-- <footer class="fix-bottom" id="footer">

         Copyright 
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.15);">
     
        <a class="text-reset fw-bold" href="{%url 'home'%}">ODS 2030</a> - © {{ year }} Informatorio 

    </footer> -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/94500f7625.js" crossorigin="anonymous"></script>
</body>
</html>
