{% load static %}

<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 2030</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
    <!-- header base -->
   <header>

        <div class="container">

            <a  class="logo" href="{%url 'home'%}">ODS 2030</a>
            <nav>
                <a href="{%url 'noticias:listarNoticias'%}">Noticias</a>
                <a href="{%url 'contacto' %}">Contacto</a>
                <a href="{%url 'usuarios:loguearse'%}">Login</a>
            </nav>

        </div>

   </header> 

   <div style="margin-bottom: 2rem;">
    {% block contenido %}

    {% endblock contenido %}
   </div>

  
  <!-- footer base -->
    <footer class="fixed-bottom">

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.15);">
     
        <a class="text-reset fw-bold" href="{%url 'home'%}">ODS 2030</a> - © {{ year }} Informatorio 

    </footer>
    <script src="https://kit.fontawesome.com/94500f7625.js" crossorigin="anonymous"></script>
</body>
</html>
