{% load static %}

<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS 2030</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>


</head>
<body>
    <!-- header base -->
    <header>

        <div class="container">

            <a  class="logo" href="{%url 'home'%}">ODS 2030</a>
            <nav>
                <!-- Navbar Search-->
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Buscar" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                        <button class="btn btn-dark" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <a href="{%url 'noticias:listarNoticias'%}">Noticias</a>
                <a href="{%url 'contacto' %}">Contacto</a>
                {% if user.is_authenticated%}
                    <div class="menu2" data-dropdown>
                            <a class="usuarioBoton" data-dropdown-button><i class="fas fa-user fa-fw"></i>{{user.username}} <i class="fas fa-caret-down"></i></a>
                            <div class="menuUsuario opciones">
                                    <div class="">
                                        <a class="configuracion">Configuración</a>
                                        <a href="{%url 'usuarios:logout'%}" class="cerrarSesion">Cerrar sesión</a>
                                    </div>
                            </div>
                    </div>
                    
                {% endif %}
                {% if not user.is_authenticated%}
                    <a href="{%url 'usuarios:loguearse'%}">Login</a>
                {% endif %}
            </nav>

        </div>

   </header> 

   <div style="margin-bottom: 2rem;">
    {%block contenido%}

    {%endblock contenido%}
  </div>

  <!-- footer base -->
    <footer>

        <div class="pie">

            <div class="rectangulo">

                <div class="logo">
                    <img src="{% static 'img/base/pie-logo.jpg' %}" alt="Logo pie de página">

                </div>

                <div class="redes">
                    <span class="fb"><i class="fa-brands fa-facebook"></i></span>
                    <span class="twt"><i class="fa-brands fa-twitter"></i></span>
                    <span class="ig"><i class="fa-brands fa-instagram"></i></span>
                    <span class="li"><i class="fa-brands fa-linkedin"></i></span>
                    <span class="yt"><i class="fa-brands fa-youtube"></i></span>
                </div>

            </div>

        </div>

        <hr>

        <div class="section">
            <div class="title-container">
                <h6>Inicio</h6>
                <a href="link-17objetivos">Objetivos</a>
                <a href="link-enlaces-de-interes">Enlaces de Interés</a>
                <a href="link-suscribete">Suscripción</a>
                <a href="link-registro">Registrarte</a>
                <a href="link-login">Login</a>
            </div>

            <div class="title-container">
                <h6>Acerca de la República Argentina</h6>
                <a href="https://www.argentina.gob.ar/pais">Nuestro País</a>
                <a href="https://www.argentina.gob.ar/normativa">Leyes Argentinas</a>
                <a href="https://www.argentina.gob.ar/organismos">Organismos</a>
                <a href="https://www.argentina.gob.ar/jefatura/mapa-del-estado">Organismos</a>
            </div>

            <div class="title-container">
                <h6>Acerca de Argentina.gob.ar</h6>
                <a href="https://www.argentina.gob.ar/terminos-y-condiciones">Términos y condiciones</a>
                <a href="https://www.argentina.gob.ar/sugerencias">Sugerencias</a>
            </div>
            
        </div>

            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.15);">
              <a class="text-reset fw-bold" href="{%url 'home'%}">ODS 2030</a> - © {{ year }} Informatorio
            </div>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/94500f7625.js" crossorigin="anonymous"></script>
</body>
</html>