{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<head>
  <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
 
</head>
<!-- Contenido principal -->
<div style="margin-top: 60px;">
  <div class="container mt-5">
    <div class="row">
      <!-- Sobre nosotros -->
      <div class="col-md-6" style="border-right: 2px solid #000000;">
        <h2>Sobre nosotros</h2>
        <p>Somos un grupo apasionado de personas que estamos participando en el curso "Informatorio". Nuestro objetivo es aprender y contribuir de manera significativa al mundo que nos rodea. Como parte de nuestro proyecto final, hemos creado este sitio tipo blog dedicado a los Objetivos de Desarrollo Sostenible (ODS) 2030.</p>
        <p>Agradecemos tu visita a nuestro sitio y esperamos que encuentres información relevante y motivación para unirte a esta causa. Juntos, podemos contribuir al logro de los Objetivos de Desarrollo Sostenible y construir un futuro más sostenible y próspero para todos.</p>
      </div>
      <!-- Formulario de contacto -->
      <div class="col-md-6">
        <h2>Contacto</h2>
        <form>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre" required>
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingresa tu correo electrónico" required>
          </div>
          <div class="form-group">
            <label for="asunto">Asunto:</label>
            <input type="text" class="form-control" id="asunto" placeholder="Ingresa el asunto de tu mensaje" required>
          </div>
          <div class="form-group">
            <label for="mensaje">Mensaje:</label>
            <textarea class="form-control" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí" required></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
      </div>
    </div>
    <hr>
    <!-- Mapa -->
    <div class="row mt-4">
      <div class="col-md-12 map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.2638206554584!2d-58.98130792654952!3d-27.461044876324568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450ce8b2457993%3A0xb6cc63aac9bf8073!2sInformatorio!5e0!3m2!1ses-419!2sar!4v1690263979929!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</div>
<!-- Enlace a Bootstrap JS y dependencias de jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.9/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock contenido %}
