*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{list-style: none;}


button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(0, 170, 228);
}

button:hover{
    background-color: rgb(128, 208, 235);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-17objetivos{ color: white;}

#los-link .carta-17objetivos{
    background-position: center center;
    background-size: cover;
    padding: 50px;
}

#los17{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


header{
    background-image: url(media/background.jpg);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(0, 170, 228);
    font-size: 3em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    text-align: center;
    padding-bottom: 25px;

}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:rgb(0, 170, 228);
}


header a:hover{
    color: rgb(128, 208, 235);

}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(media/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-ods .container{
    text-align: center;
    padding: 200px 12px;
    background-color: rgb(0, 170, 228);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#puntos-de-interes{
    background-color: rgb(0, 170, 228);
    color: white;
    text-align: center;

}

#puntos-de-interes .container{
    text-align: center;
    padding: 150px 12px;
}

#puntos-de-interes h2{
    margin: none;
    font-size: 3.5em;
}

#puntos-de-interes p{
    display: none;

}

#puntos-de-interes .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/carta-unete.jpg")
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/carta-noticias.jpg")
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/carta-recursos.png")
}

#contactos .container{
    text-align: center;
    padding: 200px 12px;
}

#contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 170, 228);
    color: white;
    height: 50vh;
}

#contactos h2{
    font-size: 9vw;
}

footer{
    background-color: white;
}

footer p{
    margin: 0;
    padding: 12px;
    color: black;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }


    #somos-ods .img-container{
        background-image: url(media/banner-ods.jpg);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 100%;
    }

    #somos-ods h2{
        margin-top: 0px;
    }

    


}

